* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.background {
    min-height: 700px;
    background-image: url(../src/Assets/background/background.jpg);
}

.home, .services, .products, .contact-us, .sign-up, .marketing, .consulting {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}